extends ./layout

block head
  title Home

block content
  | Hello, #{username}! Your ip is #{ip}.
  form(name="logoutForm", action="#{urlHelper.build('/j_spring_security_logout')}", method="POST")
    input(type="submit", name="submit", value="Logout")
    input(type="hidden", name="#{_csrf.parameterName}", value="#{_csrf.token}")